body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a: hover {
    background-color: #ddd;
    color: black
}

.comforter-regular {
  font-family: "Comforter", cursive;
  font-weight: 400;
  font-style: normal;
}



.hero {
    background: url('https://i.ytimg.com/vi/8Zn89VJ01jQ/maxresdefault.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.cta-button {
    background: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.services {
    padding: 20px;
    text-align: center;
}

.service {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.log {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

